<div id="<%= dom_id task %>">
  <p>
    <strong>Description:</strong>
    <%= task.description %>
  </p>

  <p>
    <strong>Statut:</strong>
    <%= task.statut %>
  </p>

  <p>
    <strong>Deadline:</strong>
    <%= task.deadline %>
  </p>

  <p>
    <strong>User:</strong>
    <%= task.user_id %>
  </p>

</div>
